<launch>
  <include file="$(find jishupro)/launch/dynamixel_bringup.launch"></include>
  <node pkg="sound_play" type="soundplay_node.py" name="soundplay_node"></node>
  <node pkg="jishupro" type="speak_server.py" name="speak_server"></node>
  <node pkg="jishupro" type="read-servo-state.l" name="read_servo_state"></node>
  <node pkg="jishupro" type="robot-publisher.l" name="robot_publisher"></node>
</launch>
